body {
  background: #333;
}

#page-wrap::after {
  content: "Smartphone Layout";
}

h2 span, section h3, label.rem, .tema {
  display: none;
}

body {
  font-size: xx-large;
}

footer, input, button, select {
  font-size: large;
}

table#preguntas {
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

table#statistics {
  width: 100%;
  margin-top: 15px;
}
